.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  padding: 0.25rem;
  cursor: pointer;
}

.playlistData {
  width: 100%;
}
