.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #777;
  margin-bottom: 0.1rem;
}

.container {
  max-height: 55vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}
