main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: 5rem auto 2rem;
  grid-gap: 3rem;
}

.container {
  border: 1px solid #777;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #777;
  margin-bottom: 0.1rem;
}
