.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #777;
  margin-bottom: 0.1rem;
}

.title {
  padding: 0.75rem 1.25rem;
  border-color: transparent;
  border-bottom: 1px solid darkgrey;
  font-size: 1.5rem;
  background: transparent;
}

.title:focus {
  outline: none;
}
